@media (prefers-color-scheme: dark) {
:root {
--background-body: #111;
--background: #161f27;
--background-alt: #1a242f;
--selection: #1c76c5;
--text-main: #dbdbdb;
--text-bright: #fff;
--text-muted: #a9b1ba;
--links: #41adff;
--focus: #0096bfab;
--border: #526980;
--code: #ffbe85;
--animation-duration: 0.1s;
--button-base: #0c151c;
--button-hover: #040a0f;
--scrollbar-thumb: var(--button-hover);
--scrollbar-thumb-hover: rgb(0, 0, 0);
--form-placeholder: #a9a9a9;
--form-text: #fff;
--variable: #d941e2;
--highlight: #efdb43;
--select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}
}


body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
line-height: 1.4;
max-width: 800px;
margin: 20px auto;
padding: 0 10px;
word-wrap: break-word;
color: #363636;
color: var(--text-main);
background: #fff;
background: var(--background-body);
text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {

body {
background: #202b38;
background: var(--background-body);
}
}

@media (prefers-color-scheme: dark) {

body {
color: #dbdbdb;
color: var(--text-main);
}
}

button {
transition:
  background-color 0.1s linear,
  border-color 0.1s linear,
  color 0.1s linear,
  box-shadow 0.1s linear,
  transform 0.1s ease;
transition:
  background-color var(--animation-duration) linear,
  border-color var(--animation-duration) linear,
  color var(--animation-duration) linear,
  box-shadow var(--animation-duration) linear,
  transform var(--animation-duration) ease;
}

@media (prefers-color-scheme: dark) {

button {
transition:
  background-color 0.1s linear,
  border-color 0.1s linear,
  color 0.1s linear,
  box-shadow 0.1s linear,
  transform 0.1s ease;
transition:
  background-color var(--animation-duration) linear,
  border-color var(--animation-duration) linear,
  color var(--animation-duration) linear,
  box-shadow var(--animation-duration) linear,
  transform var(--animation-duration) ease;
}
}

input {
transition:
  background-color 0.1s linear,
  border-color 0.1s linear,
  color 0.1s linear,
  box-shadow 0.1s linear,
  transform 0.1s ease;
transition:
  background-color var(--animation-duration) linear,
  border-color var(--animation-duration) linear,
  color var(--animation-duration) linear,
  box-shadow var(--animation-duration) linear,
  transform var(--animation-duration) ease;
}

@media (prefers-color-scheme: dark) {

input {
transition:
  background-color 0.1s linear,
  border-color 0.1s linear,
  color 0.1s linear,
  box-shadow 0.1s linear,
  transform 0.1s ease;
transition:
  background-color var(--animation-duration) linear,
  border-color var(--animation-duration) linear,
  color var(--animation-duration) linear,
  box-shadow var(--animation-duration) linear,
  transform var(--animation-duration) ease;
}
}




button,
select,
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='checkbox'],
input[type='range'],
input[type='radio'] {
cursor: pointer;
}

input,
select {
display: block;
}

[type='checkbox'],
[type='radio'] {
display: initial;
}

input {
color: #1d1d1d;
color: var(--form-text);
background-color: #efefef;
background-color: var(--background);
font-family: inherit;
font-size: inherit;
margin-right: 6px;
margin-bottom: 6px;
padding: 10px;
border: none;
border-radius: 6px;
outline: none;
}

@media (prefers-color-scheme: dark) {

input {
background-color: #161f27;
background-color: var(--background);
}
}

@media (prefers-color-scheme: dark) {

input {
color: #fff;
color: var(--form-text);
}
}

button {
color: #1d1d1d;
color: var(--form-text);
background-color: #efefef;
background-color: var(--background);
font-family: inherit;
font-size: inherit;
margin-right: 6px;
margin-bottom: 6px;
padding: 10px;
border: none;
border-radius: 6px;
outline: none;
}

@media (prefers-color-scheme: dark) {

button {
background-color: #161f27;
background-color: var(--background);
}
}

@media (prefers-color-scheme: dark) {

button {
color: #fff;
color: var(--form-text);
}
}


select {
color: #1d1d1d;
color: var(--form-text);
background-color: #efefef;
background-color: var(--background);
font-family: inherit;
font-size: inherit;
margin-right: 6px;
margin-bottom: 6px;
padding: 10px;
border: none;
border-radius: 6px;
outline: none;
}

@media (prefers-color-scheme: dark) {

select {
background-color: #161f27;
background-color: var(--background);
}
}

@media (prefers-color-scheme: dark) {

select {
color: #fff;
color: var(--form-text);
}
}

button {
background-color: #d0cfcf;
background-color: var(--button-base);
padding-right: 30px;
padding-left: 30px;
}




input[type='button']:hover {
background: #9b9b9b;
background: var(--button-hover);
}

@media (prefers-color-scheme: dark) {

input[type='button']:hover {
background: #040a0f;
background: var(--button-hover);
}
}

input[type='color'] {
min-height: 2rem;
padding: 8px;
cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
height: 1em;
width: 1em;
}



select[multiple] {
padding-right: 10px;
background-image: none;
overflow-y: auto;
}

input:focus {
box-shadow: 0 0 0 2px #0096bfab;
box-shadow: 0 0 0 2px var(--focus);
}




input[type='checkbox']:active,
input[type='radio']:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active,
input[type='range']:active,
button:active {
transform: translateY(2px);
}


img{
max-width: 100%;
height: auto;
}
